mysqlprj/src/main/mule/mysqlprj.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3ec5b60b-8609-4778-950d-13a42eaf372e" >
		<http:listener-connection host="localhost" port="8090" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="364666d1-9bc0-4449-9edc-64b8fcfbc655" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Mhw@8137355609" database="sample" />
	</db:config>
	<flow name="mysqlprjFlow" doc:id="ab5b1a29-7e97-4d5a-ab4f-8b5cb0dfc35c" >
		<http:listener doc:name="Listener" doc:id="62b01015-211c-4238-b05f-ae5b841bc1c8" config-ref="HTTP_Listener_config" path="/SimpleSelect" allowedMethods="GET">
			<http:response >
				<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
			</http:response>
		</http:listener>
		<db:select doc:name="Select" doc:id="4fb6d2be-1521-4f77-9231-9a0cb7bae9e7" config-ref="Database_Config">
			<db:sql >SELECT ENAME FROM EMPLOYEE WHERE ENO=101</db:sql>
		</db:select>
	</flow>
</mule>
